:root {
	--background-primary: #dce0e8;
	--background-secondary: #e6e9ef;
	--background-secondary-lighter: #eff1f5;
	--background-secondary-alt: #ccd0da;
	--background-tertiary: #eff1f5;
	--background-channel-header: hsl(220, 13%, 16.85%);
	--guild-list-foreground: #eff1f5;
	--background-header-secondary: #dce0e8;
	--background-header-primary: #eff1f5;
	--background-textarea: #e6e9ef;
	--background-header-primary-hover: #ccd0da;
	--text-tertiary-secondary: #9ca0b0;
	--text-tertiary-muted: #8c8fa1;
	--text-tertiary: #6c6f85;
	--text-primary-muted: #7c7f93;
	--text-chat-muted: #7c7f93;
	--text-secondary: #5c5f77;
	--text-chat: #4c4f69;
	--text-primary: #4c4f69;
	--panel-control-bg: #dce0e8;
	--panel-control-border: #8c8fa1;
	--panel-control-divider: #9ca0b0;
	--panel-control-highlight: #9ca0b0;
	--background-modifier-hover: #ccd0dacc;
	--background-modifier-selected: #eff1f5;
	--background-modifier-accent: #ccd0da;
	--background-modifier-accent-focus: #bcc0cc;
	--control-button-normal-bg: transparent;
	--control-button-hover-bg: hsl(220, 13%, 22%);
	--control-button-active-bg: hsl(220, 13%, 24%);
	--control-button-danger-text: #d20f39;
	--control-button-danger-hover-bg: hsl(1, 77%, 20%);
	--brand-primary: #ea76cb;
	--brand-secondary: #ea76cb;
	--brand-primary-light: #ea76cb;
	--brand-primary-fill: #eff1f5;
	--status-online: #40a02b;
	--status-idle: #df8e1d;
	--status-dnd: #e64553;
	--status-offline: #8c8fa1;
	--status-danger: #d20f39;
	--text-warning: #df8e1d;
	--plutonium-icon: #fe640b;
	--text-link: #1e66f5;
	--text-on-brand-primary: #eff1f5;
	--text-code: #5c5f77;
	--text-selection: #7c7f9359;
	--text-feedback-positive: #40a02b;
	--markup-mention-border: hsla(210, 80%, 70%, 0.3);
	--markup-everyone-text: hsl(250, 80%, 75%);
	--markup-everyone-fill: color-mix(in srgb, hsl(250, 80%, 75%) 18%, transparent);
	--markup-everyone-border: hsla(250, 80%, 75%, 0.3);
	--markup-here-text: hsl(45, 90%, 70%);
	--markup-here-fill: color-mix(in srgb, hsl(45, 90%, 70%) 18%, transparent);
	--markup-here-border: hsla(45, 90%, 70%, 0.3);
	--button-primary-fill: #40a02b;
	--button-primary-active-fill: #398c26;
	--button-primary-text: #4c4f69;
	--button-secondary-fill: #4c4f691a;
	--button-secondary-active-fill: #4c4f6926;
	--button-secondary-text: #4c4f69;
	--button-danger-fill: #e64553;
	--button-danger-active-fill: #d20f39;
	--button-danger-text: #eff1f5;
	--button-danger-outline-border: 1px solid #eb1140;
	--button-danger-outline-text: #eff1f5;
	--button-danger-outline-active-fill: #bb0d33;
	--button-ghost-text: #4c4f69;
	--button-inverted-fill: #eff1f5;
	--button-inverted-text: #4c4f69;
	--button-outline-border: 1px solid #4c4f694d;
	--button-outline-text: #4c4f69;
	--button-outline-active-fill: #4c4f6926;
	--button-outline-active-border: 1px solid #4c4f6966;
	--bg-code: #eff1f5;
	--bg-code-block: #e6e9ef;
	--border-color: #ccd0da;
	--border-color-hover: #bcc0cc;
	--border-color-focus: #ea76cb;
	--accent-purple: #8839ef;
	--alert-note-color: #04a5e5;
	--alert-tip-color: #40a02b;
	--alert-important-color: #8839ef;
	--alert-warning-color: #fe640b;
	--alert-caution-color: #e64553;
	--shadow-sm: 0 1px 2px #dce0e81a;
	--shadow-md: 0 2px 4px #dce0e826, 0 1px 2px #dce0e81a;
	--shadow-lg: 0 4px 8px #dce0e826, 0 2px 4px #dce0e81a;
	--shadow-xl: 0 10px 20px #dce0e826, 0 4px 8px #dce0e81a;
	--spoiler-overlay-color: #dce0e833;
	--spoiler-overlay-hover-color: #dce0e84d;
	--scrollbar-thumb-bg: #9ca0b066;
	--scrollbar-thumb-bg-hover: #9ca0b0b3;
	--focus-primary: #04a5e5;
}

[class*="VoiceCallView.module__root___"] {
  background-color: #dce0e8;
}

[class*="MobileDownloadNagbar.module__platformIcon___"], [class*="Divider.module__unreadBadge___"], [class*="Messages.module__newMessagesBarText___"], [class*="Messages.module__newMessagesBarAction___"] {
  color: #eff1f5;
}

[class*="RadioGroup.module__group___"] {
  --radio-dot-fill: #eff1f5;
}

[class*="Switch.module__switchThumb___"] {
  background-color: #eff1f5;
}

[class*="NativeTitlebar.module__closeButton___"]:hover {
  background-color: #d20f39;
  color: #eff1f5;
}

[class*="ScrollIndicatorOverlay.module__indicator___"], [class*="ScrollIndicatorOverlay.module__indicatorBrand___"] {
  background-color: #ccd0da;
  color: #4c4f69;
}
